/*
 * CONVENTION DE NOMMAGE CSS
 * ComponentName
 * ComponentName.modifierName
 * ComponentName-descendantName
 * ComponentName-descendantName.modifierName
 * ComponentName.isStateOfComponent
*/

/* GENERAL */
html {
   -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
   color: #555;
   font-family: 'Open Sans', sans-serif;
   margin : 0;
   padding: 0;
   text-rendering: optimizeLegibility;
}
body {
   margin: 0;
   overflow-x: hidden;
   padding: 0;
}
a {
   color: inherit;
   text-decoration: none;
}

/* TOOLS */

.jumbotron > * {
   margin: 0 auto;
   max-width: 60em;
}

.txtThin {
   font-weight: 300;
   opacity: 0.85;
}
.txtSmall {
   font-size: 0.85em;
}

.floatBox::after {
   clear: both;
   content:" ";
   display:block;
}
.half-right {
   width: 50%;
   float: right;
}
.half-left {
   width: 50%;
   float: left;
}

/* COMPONENTS */
.InfoBox {
   background-color: #555;
   background-color: rgba(0,0,0,0.1);
   border-radius: 1em;
   display:inline-block;
   padding: 5px;
}
   .InfoLabel {
      background-color: rgb(255, 124, 60);
      border-radius: 1em;
      display: inline-block;
      font-size: 0.75em;
      font-weight: 700;
      line-height: 1em;
      margin: 0;
      padding: 5px;
      text-transform: uppercase;
   }
   .InfoText {
      display: inline-block;
      line-height: 1em;
      margin: 0 5px;
   }

.Button {
   background-color: white;
   border: none;
   border-radius: 5px;
   box-shadow: 0 3px 7px rgba(0,0,0,0.2);
   color: rgb(255, 124, 60);
   cursor: pointer;
   font-family: inherit;
   font-weight: bold;
   letter-spacing: 0.1em;
   margin: 2em 2em 1em 0;
   padding: 0.75em;
   text-transform: uppercase;
   transition: all .15s ease;
}
   .Button:hover {
      box-shadow: 0 7px 15px rgba(0,0,0,0.2);
      color: rgb(247, 136, 82);
      transform: translateY(-1px);
   }
   .primaryBtn {
      background-color: rgb(255, 124, 60);
      color: white;
   }
      .primaryBtn:hover {
         background-color: rgb(247, 136, 82);
         color: white;
      }


.Header {
   background-image: linear-gradient( 160deg,  #460b36 0%, #F05F57 80%);
   color: white;
   height: 750px;
   position: relative;
}
   .Header:after {
      background-color: white;
      bottom: 0;
      clip-path: polygon(100% 0, 0 100%, 100% 100%);
      content: "";
      height: 50%;
      position: absolute;
      width: 100%;
   }
   .Header-Title {
      font-size: 2.5em;
      font-weight: 400;
      margin: 1em 0 0.5em 0;
   }
   .Header-Body {
      line-height: 1.6em;
      margin: 0 0 3em;
      max-width: 30em;
   }
.MainTitle {
   display: inline-block;
   font-size: 1.5em; /*affect: TopNav*/
   font-weight: 700;
   margin-top: 0;
   text-transform: lowercase;
   vertical-align: top;
}

.TopNav {
   line-height: 1.5em; /*refferTo: MainTitle font-size*/
   margin-bottom: 5em;
   padding-top: 1.5em;
}
   .TopNav-menu {
      float: right;
      margin-top: 0;
   }
   .TopNav-menuItem {
      display: inline-block;
      padding-left: 1.2em;
      padding-right: 1.2em;
      position: relative;
      z-index: 0;
   }
      .TopNav-menuItem:hover .TopNav-menuLink {
         opacity: 0.5;
      }
      .TopNav-menuDrop {
         clip-path: polygon(50% 0, -10% 100%, 0 1000%, 110% 1000%, 110% 100%);
         left: 50%;
         list-style-type: none;
         /*Simule le padding de menuDrop par rapport au menu
         */
         min-height: 100%;
         opacity: 0;
         position: absolute;
         top: 0.5em;
         transform: translateX(-50%) ;
         transition: all .15s ease;
         visibility: hidden;
         width: 20em;
         z-index: 1;
      }
         .TopNav-menuItem:hover .TopNav-menuDrop, .TopNav-menuDrop:hover {
            opacity: 1;
            visibility: visible;
         }
         .menuDrop {
            background-color: white;
            border-radius: 5px;
            box-shadow: 0 7px 15px rgba(0,0,0,0.2);
            color: rgb(255, 124, 60);
            font-weight: bold;
            list-style-type: none;
            padding: 1.25em;
            position: absolute;
            text-transform: uppercase;
            /*Le veritable padding par rapport au menu est la hauteur
               du TopNav-menuDrop parent
            */
            top: 100%;
            transform: perspective(300px) rotateX(-20deg) scale(0.9);
            transition: all .15s ease;
            width: calc(100% - 2*(1.25em));/*referTo: Padding*/
         }
            .TopNav-menuItem:hover .menuDrop, .TopNav-menuDrop:hover .menuDrop {
               transform: rotateX(0deg) scale(1);
            }
            .menuDrop::before {
               border: 7px solid transparent;
               border-bottom: 7px solid white;
               content: "";
               height: 0;
               left: 50%;
               left: calc(50% - 7px); /*referTo: -Border Size*/
               position: absolute;
               top: -14px; /*referTo: -2*Border Size*/
               width: 0;
            }

.TextContainer-Left {
      line-height: 1.75em;
      max-width: 30em;
      text-align: right;
}

.TextContainer-Center {
      line-height: 1.75em;
      max-width: 40em;
      text-align: center;
}
.firstSec {
   height: 500px;
   position: relative;
}
   .firstSec::after {
      background-color: rgb(250, 242, 244);
      bottom: 0;
      clip-path: polygon(100% 0, 0 100%, 100% 100%);
      content: "";
      height: 50%;
      position: absolute;
      width: 100%;
   }
   .firstSec-Title{
      color: rgb(255, 124, 60);
      text-transform: uppercase;
   }
.Phone {
   height: 900px;
   position: absolute;
   right: calc(45% - 500px);
   top: 275px;
   width: 500px;
}
   .Phone-case{
      background-image: url(../img/phone.png);
      background-repeat: no-repeat;
      background-size: contain;
      height:100%;
      position: absolute;
      width: 100%;
   }
   .Phone-Picture{
      background-image: url(../img/0.jpeg);
      background-position: right;
      background-size: cover;
      height:80%;
      left: 30px;
      position: absolute;
      top: 85px;
      width: 80%;
   }

.SecondSec {
   background-color: rgb(250, 242, 244);
   padding: 1em 0 2em;
}
   .SecondSec-Title {
       color: rgb(255, 124, 60);
   }

.CodeViewer {
   background-color: white;
   box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
   line-height: 1.25em;
   margin-top: 3em;
   max-width: 65%;
   max-width: calc(70% - 3.25em);
   padding: 1em;
   padding-left: 3.5em;
   position: relative;
   transform: translateY(1.5em);/*referTo: ::before height*/
   white-space: pre-wrap;
 }
    .CodeViewer::before {
      background: linear-gradient(rgb(94, 80, 96), rgb(78, 62, 80));
      border-radius: 5px 5px 0 0;
      color: rgb(228, 51, 51);
      content: "⬤  ";
      font-family: 'Open sans', sans-serif;
      left: 0;
      height: 1.6em;
      line-height: 1.25em;
      position: absolute;
      text-align: right;
      text-shadow: 0 -1px 1px rgba(0,0,0,0.4);
      top: -1.6em; /*referTo: - (height)*/
      width: 100%;
   }
   #CodeViewerbefore {
      background-color: rgb(230, 210, 228);
      color:  #842f96;
      height: calc(100% - 1em);
      left: 0;
      padding: 1em 0.75em 0 0;
      position: absolute;
      text-align: right;
      top: 0;
      width: calc(3.25em - 0.75em);
   }

   .CodeViewer-Menu {
      float: right;
      margin: 0;
      padding:0;
      text-align: left;
      width: 25%;
   }
      .CodeViewer-MenuItem {
         color: #c3446e;
         cursor: pointer;
         list-style-type: none;
         padding: 0.25em 0.5em;
         text-indent: 0;
         transition: all .15s ease;
      }
      .CodeViewer-MenuItem:hover {
         color: #993279;
         transform: translateX(5px);
      }
      .CodeViewer-MenuItem.isCurrent {
         background-color: white;
         box-shadow: 0 2px 7px rgba(0,0,0,0.1);
         color: rgb(255, 124, 60);

      }
      .CodeViewer-MenuItem:hover.isCurrent{
         color: rgb(255, 124, 60);
         transform: translateX(0);
      }
      .CodeViewer-Menu hr {
         border: 0;
         border-bottom: 2px solid rgba(0,0,0,0.1);
      }

   .CodeString {
      color: #842f96;
   }
      .CodeString *{
           color: inherit!important;
       }
   .CodeNumber {
      color: rgb(208, 118, 11);
   }
   .CodeComment {
      color: #AAA;
   }
      .CodeComment *{
         color: inherit!important;
      }
   .CodeInstr {
      color: #4288ff;
   }
   .CodeFunc{
      color: #776cba;
   }
   .CodeCond{
      color: #f19d46;
   }
.ThirdSec {
   padding: 3em;
   border-bottom: 2px solid rgba(0,0,0,0.05)
}
   .ThirdSec-Title {
      color: rgb(255, 124, 60);
      font-size: 1.25em;
   }
   .ThirdSec-Body {
      margin-right: 6em;
      line-height: 1.7em;
   }
   .ThirdSec a {
      color: #c3446e;
      cursor: pointer;
      list-style-type: none;
      padding: 0.25em 0.5em;
      text-indent: 0;
      transition: all .07s ease;
   }
   .ThirdSec a:hover {
      color: #6f2458;
      transform: translateX(5px);
   }

.PartnersContainer{
   position: relative;
   padding: 5em 0;

   text-align: center;
   overflow: hidden;
   z-index: 2;
}
   .PartnersContainer > ul{
         padding: 0;
   }

   .FakeSocietyName {
      font-size: 1.5em;
      font-family: Lobster, sans-serif;
      color: #555;
      font-weight: bolder;
      display: inline-block;
      margin: 0 2em;
      transition: filter 0.5s ease;
      -webkit-transition: 0.5s -webkit-filter ease;
      -o-transition: 0.5s -o-filter ease;
   }
      .PartnersContainer:hover .FakeSocietyName {
         -webkit-filter: blur(15px);
         -moz-filter: blur(15px);
         -o-filter: blur(15px);
         -ms-filter: blur(15px);
         filter: blur(15px);

      }
   .PartnersButtonContainer {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
   }
      .PartnersButton {
         position: relative;
         z-index: 2;
         top: 45%;
         top: calc(50% - 3.5em);
         opacity: 0;
         transition: opacity 0.5s ease;
      }
      .PartnersContainer:hover .PartnersButton {
         opacity: 1;
      }

.FourthSec {
   position: relative;
   border-bottom: 2px solid rgba(0,0,0,0.1)
}
   .FourthSec::after {
      background-color: rgb(250, 242, 244);
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      clip-path: polygon( 0 100%, 100% 100%, 100% 7em)
   }
   .FourthSec-TxtContainer {
      position: relative;
      z-index: 2;
   }
   .FourthSec-Card {
      background-color: white;
      box-shadow: 0 7px 15px rgba(0,0,0,0.2);
      margin: 0 1em;
      padding: 1em 1em 1em 6em;
      line-height: 1.8em;
      margin-bottom: 2em
   }

footer {
   margin: 0;
   padding: 1em;
   background-color: rgb(250, 242, 244);
}
