.UserChartPanel {
   width: 100%;
   min-height: 15em;
   position:relative
}
.mainLine{
   position:absolute;
   z-index: 0;
   left:0; top:0; width:100%; height:100%
}
.mainLine .domain{
   fill: none;
   stroke: black;
   stroke-width: 1px;
}
.mainLine .tick line{
  fill: none;
  stroke: black;
}
.mainLine .line{
   filter: drop-shadow(5px 12px 5px rgba(0,0,0,0.5));
}
.mainLine .area{
   fill: #FCCF31;
   opacity: 0.5;
}
.mainLine .stop-left {
   stop-color:  #FCCF31 ;
}
.mainLine .stop-right {
   stop-color: #F55555 ;
}
